services:
    _defaults:
        autowire: true
        autoconfigure: true
        
    # User Domain Services
    App\BoundedContext\User\Domain\:
        resource: '../../src/BoundedContext/User/Domain/*'
        exclude: '../../src/BoundedContext/User/Domain/{Entity,ValueObject,Event,Exception}'

    # Application Layer
    App\BoundedContext\User\Application\:
        resource: '../../src/BoundedContext/User/Application/*'

    # Infrastructure Layer
    App\BoundedContext\User\Infrastructure\Persistence\:
        resource: '../../src/BoundedContext/User/Infrastructure/Persistence/*'
    
    App\BoundedContext\User\Infrastructure\Event\:
        resource: '../../src/BoundedContext/User/Infrastructure/Event/*'

    # Presentation Layer
    App\BoundedContext\User\Presentation\Api\Controller\:
        resource: '../../src/BoundedContext/User/Presentation/Api/Controller/*'
        tags: ['controller.service_arguments']

    # Specific service definitions
    App\BoundedContext\User\Infrastructure\Security\UserProvider: ~

    App\BoundedContext\User\Application\Service\UserManager: ~

    App\BoundedContext\User\Infrastructure\Persistence\Doctrine\UserRepository:
        tags: ['doctrine.repository_service']
    
    App\BoundedContext\User\Infrastructure\Doctrine\Listener\UserEntityListener:
        tags: ['doctrine.orm.entity_listener']

    # Web Controllers with specific configuration
    App\BoundedContext\User\Presentation\Web\Controller\:
        resource: '../../src/BoundedContext/User/Presentation/Web/Controller/*'
        tags: ['controller.service_arguments']

    # User Avatar Controller configuration
    App\BoundedContext\User\Presentation\Web\Controller\GetUserAvatar:
        arguments:
            $userAvatarManager: '@user_avatar_manager'
        tags: ['controller.service_arguments']
        public: true