includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 6
    paths:
        - src
    
    # Ignore patterns
    ignoreErrors:
        # Ignore Sonata Admin Bundle generic type issues
        - '#extends generic class.*but does not specify its types#'
        - '#has parameter.*with generic class.*but does not specify its types#'
        # Ignore Sonata Admin ProxyQueryInterface method issues
        - '#Call to an undefined method Sonata\\AdminBundle\\Datagrid\\ProxyQueryInterface.*#'
    
    excludePaths:
        - tests/bootstrap.php
        - var/
        - vendor/
